:root {
  --font-family: 'Lato', sans-serif;

  --font-size-normal: 1rem;
  --font-size-big: 1.1875rem;

  --color-blue: #5C9AE4;
  --color-lightblue: #0ec0c7;
  --color-silver: #aaa;
  --color-white: #fff;
  --color-gallery: #ebebeb;
  --color-chalice: #a1a1a1;
  --color-grey: #ccc;
  --color-black: #4a4a4a;
}
