.hotspots {
  width: 600px;
  margin: 0 auto;
}

.hotspotsHeader {
  padding: 50px 50px 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creatingMessage {
  padding: 20px;
}
